<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html charset=UTF-8">
<title>timetables</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/generic.css" th:href="@{/css/generic.css}" />
</head>
<body>
	<div th:replace="~{index::logo}"></div>
	<br>
	<h2 th:text="#{timetables.tableName}">All timetables of the
		university</h2>
	<table>
		<thead>
			<tr>
				<td th:text="#{thead.number}">Number</td>
				<td th:text="#{thead.startTime}">Start time</td>
				<td th:text="#{thead.endTime}">End time</td>
				<td th:text="#{thead.dayOfWeek}">Day of week</td>
				<td th:text="#{thead.description}">Description</td>
				<td th:text="#{thead.id}">ID</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="timetable,iterationStatus : ${timetables}">
                <td th:text="${iterationStatus.count}">1</td>
                <td th:text="${timetable.startTime}">8:45</td>
                <td th:text="${timetable.endTime}">10:45</td>
                <td th:text="${timetable.dayOfWeek}">Monday</td>
                <td th:text="${timetable.description}">some description</td>
                <td th:text="${timetable.id}">1</td>
			</tr>
		</tbody>
	</table>
</body>
</html>