<!DOCTYPE html>
<html xmlns:th="http://www.foxminded.university.com">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Student information</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/student.css" th:ref="@{/css/student.css}" />
</head>

<body>
	<div>
		<img src="../../images/foxminded_logo.png" alt="foxminded logo"
			title="Foxminded" th:src="@{/images/foxminded_logo.png}"
			th:alt-title="#{title.application}" />
	</div>

	<div class="student_list" th:unless="&{#lists.isEmpty(allStudents)}">
		<h2 th:text="#{title.list}">List of students</h2>
	</div>

	<table>
		<thead>
			<tr>
				<th th:text="#{student.id}">ID</th>
				<th th:text="#{student.firstName}">First name</th>
				<th th:text="#{student.lastName}">Last name</th>
				<th th:text="#{student.groupId}">Group ID</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student : ${allStudents}">
				<td th:text="${{student.id}}">null</td>
				<td th:text="${{student.lastName}}">null</td>
				<td th:text="${{student.firstName}}">null</td>
				<td th:text="${{student.groupId}}">null</td>
			</tr>
		</tbody>
	</table>

	<div>
		<h2 th:text="#{title.new">Add a new student</h2>
		<form action="#" th:action="@{/student}" th:object="${student}" method="post">
			<fieldset>
				<legend th:text="#{student.person.data}">Person data</legend>
				<label for="firstName" th:text="#{|student.firstName:|}">First name:</label>
				<input type="text" id="firstName" name="firstName" th:value="*{firstName}"><br><br>
				<label for="lastName" th:text="#{|student.lastName:|}">Last name:</label>
				<input type="text" th:field="*{lastName}"><br><br>
				<label for="groupId" th:text="#{|student.groupId:|}">Group ID:</label>
				<input type="text" th:field="*{groupId}"><br><br>
				<input type="submit" value="Summint" th:value="#{submit}">				
			</fieldset>
		</form>
	</div>
</body>
</html>