<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Student page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/students.css" th:href="@{/css/students.css}" />
</head>
<body>
	<div th:replace="~{index::logo}"></div>
	<br>
	<h2 th:text="#{students.tableName}">The table all of students in the
		university</h2>
	<table>
		<thead>
			<tr>
				<td th:text="#{number}">Number</td>
				<td th:text="#{student.firstName}">First name</td>
				<td th:text="#{student.lastName}">Last name</td>
				<td th:text="#{id}">ID</td>
				<td th:text="#{groupid}">Group ID</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student,iterationStatus : ${students}">
				<td th:text="${iterationStatus.count}">1</td>
				<td th:text="${student.firstName}">Jonh</td>
				<td th:text="${student.lastName}">Snow</td>
				<td th:text="${student.id}">1</td>
				<td th:text="${student.group.id}">5</td>
			</tr>
		</tbody>
	</table>
</body>
</html>