<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>teachers</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/generic.css" th:href="@{/css/generic.css}" />
</head>
<body>
	<div th:replace="~{index::logo}"></div>
	<br>
	<h2 th:text="#{teachers.tableName}">All teachers of the university</h2>
	<table>
		<thead>
			<tr>
				<td th:text="#{thead.number}">Number</td>
				<td th:text="#{thead.firstName}">First name</td>
				<td th:text="#{thead.lastName}">Last name</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="teacher, iterationStatus : ${teachers}">
				<td th:text="${iterationStatus.count}">1</td>
				<td th:text="${teacher.firstName}">Dennis</td>
				<td th:text="${teacher.lastName}">Ritchie</td>
			</tr>
		</tbody>
	</table>
</body>
</html>