<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="30 seconds">

	<!-- <import class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
	<statusListener class="OnConsoleStatusListener"/> -->
	
	<import	class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" />
	<import class="ch.qos.logback.core.ConsoleAppender" />
	<import class="ch.qos.logback.core.FileAppender" />
	
	<appender name="STDOUT" class="ConsoleAppender">
		<encoder class="PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="debag">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>


