<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The group list</title>
<link
 href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
 rel="stylesheet"
 integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
 crossorigin="anonymous">
</head>
<body>

 <div th:replace="~{fragments/header::navigationBar}">NavBar</div>

 <div class="modal fade" id="add" tabindex="-1"
  aria-labelledby="addCourse" aria-hidden="true">
  <div class="modal-dialog">
   <form class="modal-content" th:action="@{/groups/create}"
    method="post">
    <div class="modal-header">
     <h1 class="modal-title fs-5" id="addCourse"
      th:text="#{groups.create}">Create a group</h1>
     <button type="button" class="btn-close" data-bs-dismiss="modal"
      aria-label="Close"></button>
    </div>
    <div class="modal-body">
     <div class="container-fluid">

      <div class="row form-floating mb-3">
       <input type="text" class="form-control"
        id="createCourseNameInput" placeholder="#" name="name">
       <label for="createCourseNameInput"
        th:text="|#{thead.groupName}:|">Group name:</label>
      </div>

     </div>
    </div>
    <div class="modal-footer">
     <button type="button" class="btn btn-secondary"
      data-bs-dismiss="modal">Close</button>
     <button type="submit" class="btn btn-primary"
      id="createSubmitButton" th:text="#{button.saveChange}">Save
      changes</button>
    </div>
   </form>
  </div>
 </div>

 <nav class="ms-2" aria-label="breadcrumb" th:fragment="page-path">
  <ol class="breadcrumb container-fluid">
   <li class="breadcrumb-item"><a th:href="@{/}"
    th:text="#{href.home}">Home</a></li>
   <li class="breadcrumb-item active" aria-current="page"
    th:text="#{index.menu.groups}">Groups</li>
  </ol>
 </nav>

 <div class="container">

  <div class="col">
   <p class="text-center fs-5" th:text="#{groups.tableName}">All
    groups of the university</p>
  </div>

  <div class="col">

   <div class="row text-center justify-content-center">
    <table style="width: 40%" class="table">
     <thead>
      <tr>
       <th scope="col" th:text="#{thead.number}">#</th>
       <th scope="col" th:text="#{thead.groupName}">Group name</th>
       <th scope="col" th:text="#{thead.groupId}">Group ID</th>
       <th></th>
      </tr>
     </thead>
     <tbody>
      <tr th:each="group,iterationStatus : ${groups}">
       <th scope="row" th:text="${iterationStatus.count}">1</th>
       <td><a th:text="${group.name}"
        th:href="@{/groups/__${group.id}__}">kt-93</a></td>
       <td th:text="${group.id}">1</td>
       <td>
        <button type="button" class="btn btn-sm btn-outline-danger"
         data-bs-toggle="modal"
         th:data-bs-target="|#deleteGroup${group.id}|">Delete</button>

        <form class="modal fade" th:id="|deleteGroup${group.id}|"
         tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true"
         th:action="@{/groups/__${group.id}__/delete}" method="post">
         <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
            <h1 class="modal-title fs-5"></h1>
            <button type="button" class="btn-close"
             data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
            <p th:text="#{message.confirm-delete}">Are you sure to
             delete the data?</p>
           </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
             data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary"
             th:text="#{button.confirm}">Confirm</button>
           </div>
          </div>
         </div>
        </form>

       </td>
      </tr>
     </tbody>
    </table>
   </div>

  </div>

 </div>

 <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"></script>
</body>
</html>