<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>groups</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/generic.css" th:href="@{/css/generic.css}" />
</head>
<body>
	<div th:replace="~{index::logo}"></div>
	<br>
	<h2 th:text="#{groups.tableName}">All groups of the university</h2>
	<table>
		<thead>
			<tr>
				<td th:text="#{thead.number}">Number</td>
				<td th:text="#{thead.groupName}">Group name</td>
				<td th:text="#{thead.groupId}">Group ID</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="group,iterationStatus : ${groups}">
				<td th:text="${iterationStatus.count}">1</td>
				<td th:text="${group.name}">kt-93</td>
				<td th:text="${group.id}">1</td>
			</tr>
		</tbody>
	</table>
</body>
</html>