<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The course list</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
</head>
<body>
	<div th:replace="~{index::logo}"></div>
	<div class="container">
		<div class="row">
			<div class="col-2">
				<div class="d-grid gap-2 justify-content-center">
					<button class="btn btn-primary" type="button"
						data-bs-toggle="offcanvas" data-bs-target="#addGroup"
						aria-controls="offcanvasTop" th:text="#{groups.addGroup}">Add
						group</button>
					<div class="offcanvas offcanvas-top" tabindex="-1" id="addGroup"
						aria-labelledy="offcanvasTopLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" th:text="#{groups.addGroup}">Add
								group</h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="offcanvas" aria-label="close"></button>
						</div>
						<div class="offcanvas-body">My content</div>
					</div>

					<button class="btn btn-primary" type="button"
						data-bs-toggle="offcanvas" data-bs-target="#deleteGroup"
						aria-controls="offcanvasTop" th:text="#{groups.deleteGroups}">Delete
						group</button>
					<div class="offcanvas offcanvas-top" tabindex="-1" id="deleteGroup"
						aria-labelledy="offcanvasTopLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" th:text="#{groups.deleteGroups}">Delete
								group</h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="offcanvas" aria-label="close"></button>
						</div>
						<div class="offcanvas-body">My content</div>
					</div>

					<button class="btn btn-primary" type="button"
						data-bs-toggle="offcanvas" data-bs-target="#editGroup"
						aria-controls="offcanvasTop" th:text="#{groups.editGroup}">Edit
						group</button>
					<div class="offcanvas offcanvas-top" tabindex="-1" id="editGroup"
						aria-labelledy="offcanvasTopLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" th:text="#{groups.editGroup}">Edit
								group</h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="offcanvas" aria-label="close"></button>
						</div>
						<div class="offcanvas-body">My content</div>
					</div>
				</div>
			</div>


			<div class="col-10">
				<p class="text-center fs-1" th:text="#{groups.tableName}">All
					groups of the university</p>
				<table class="table">
					<thead>
						<tr>
							<th scope="col" th:text="#{thead.number}">#</th>
							<th scope="col" th:text="#{thead.groupName}">Group name</th>
							<th scope="col" th:text="#{thead.groupId}">Group ID</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="group,iterationStatus : ${groups}">
							<th scope="row" th:text="${iterationStatus.count}">1</th>
							<td th:text="${group.name}">kt-93</td>
							<td th:text="${group.id}">1</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
</body>
</html>