<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The teacher list</title>
<link
 href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
 rel="stylesheet"
 integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
 crossorigin="anonymous">
</head>
<body>
 <div th:replace="~{fragments/header::navigationBar}"></div>
 <div class="offcanvas offcanvas-top" tabindex="-1" id="add"
  aria-labelledy="offcanvasTopLabel">
  <div class="offcanvas-header">
   <h5 class="offcanvas-title" th:text="#{teachers.addTeacher}">Add
    a student</h5>
   <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
    aria-label="close"></button>
  </div>
  <div class="offcanvas-body">My content</div>
 </div>
 <div class="offcanvas offcanvas-top" tabindex="-1" id="delete"
  aria-labelledy="offcanvasTopLabel">
  <div class="offcanvas-header">
   <h5 class="offcanvas-title" th:text="#{teachers.deleteTeacher}">Delete
    a student</h5>
   <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
    aria-label="close"></button>
  </div>
  <div class="offcanvas-body">My content</div>
 </div>
 <div class="offcanvas offcanvas-top" tabindex="-1" id="edit"
  aria-labelledy="offcanvasTopLabel">
  <div class="offcanvas-header">
   <h5 class="offcanvas-title" th:text="#{teachers.editTeacher}">Edit
    a teacher</h5>
   <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
    aria-label="close"></button>
  </div>
  <div class="offcanvas-body">My content</div>
 </div>

 <div class="container">
  <div class="row justify-content-center">
   <div class="col-10">
    <p class="text-center fs-1 mt-5" th:text="#{teachers.tableName}">All
     teachers of the university</p>
    <table class="table">
     <thead>
      <tr>
       <th scope="col" th:text="#{thead.number}">#</th>
       <th scope="col" th:text="#{thead.firstName}">First name</th>
       <th scope="col" th:text="#{thead.lastName}">Last name</th>
       <th scope="col" th:text="#{teachers.teacherId}">ID</th>
      </tr>
     </thead>
     <tbody>
      <tr th:each="teacher,iterationStatus : ${teachers}">
       <th scope="row" th:text="${iterationStatus.count}">1</th>
       <td th:text="${teacher.user.person.firstName}">Dennis</td>
       <td th:text="${teacher.user.person.lastName}">Ritchie</td>
       <td th:text="${teacher.id}">1</td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 </div>

 <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"></script>
</body>
</html>