<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap demo</title>
<link
 href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
 rel="stylesheet"
 integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
 crossorigin="anonymous">
</head>
<body>
 <div th:replace="~{fragments/header::navigationBar}">Navigation
  bar</div>
 <nav class="ms-2" aria-label="breadcrumb" th:fragment="page-path">
  <ol class="breadcrumb container-fluid">
   <li class="breadcrumb-item"><a th:href="@{/}"
    th:text="#{href.home}">Home</a></li>
   <li class="breadcrumb-item"><a
    th:href="@{/timetables/__${timetableModel.datestamp}__/list}"
    th:text="#{href.month-timetable}">Month timetable</a></li>
   <li class="breadcrumb-item active" aria-current="page"
    th:text="#{href.day-timetable}">Day timetable</li>
  </ol>
 </nav>

 <div class="modal fade" id="add" tabindex="-1"
  aria-labelledby="addCourse" aria-hidden="true">
  <div class="modal-dialog">
   <form class="modal-content"
    th:action="@{/timetables/create/timetable/__${timetableModel.datestamp}__}"
    th:object="${timetableModel}" method="post">
    <div class="modal-header">
     <h1 class="modal-title fs-5" id="createTimetable"
      th:text="|#{timetables.create} __${timetableModel.datestamp}__|">Create
      timetable</h1>
     <button type="button" class="btn-close" data-bs-dismiss="modal"
      aria-label="Close"></button>
    </div>
    <div class="modal-body">
     <div class="container-fluid">
      <div class="row mt-2 text-end">
       <div class="col-5" th:text="|#{thead.start-time}: |">Start
        time:</div>
       <div class="col-7">
        <select class="form-select" aria-label="Lesson selection"
         th:field="*{startTime}">
         <option
          th:each="startTime : ${T(ua.com.foxminded.university.model.LessonStartTime).values()}"
          th:value="${startTime.representation}"
          th:text="${startTime.representation}">8:00</option>
        </select>
       </div>
      </div>
      <div class="row mt-2 text-end">
       <div class="col-5" th:text="|#{thead.break-duration}: |">Duration:</div>
       <div class="col-7">
        <select class="form-select" aria-label="Lesson selection"
         th:field="*{breakDuration}">
         <option
          th:each="breakDuration : ${T(ua.com.foxminded.university.model.LessonBreakDuration).values()}"
          th:value="${breakDuration.duration}"
          th:text="${breakDuration.duration.toMinutes()}">15:00</option>
        </select>
       </div>
      </div>
      <div class="row mt-2 text-end">
       <div class="col-5" th:text="|#{thead.lesson}: |">Lesson:</div>
       <div class="col-7">
        <select class="form-select" aria-label="Lesson selection"
         th:field="*{course.id}">
         <option th:each="course : ${courses}" th:value="${course.id}"
          th:text="${course.name}">Electrodynamics</option>
        </select>
       </div>
      </div>
      <div class="row mt-2 text-end">
       <div class="col-5" th:text="|#{thead.group}: |">Group:</div>
       <div class="col-7">
        <select class="form-select" aria-label="Group selection"
         th:field="*{group.id}">
         <option th:each="group : ${groups}" th:value="${group.id}"
          th:text="${group.name}">lk-74</option>
        </select>
       </div>
      </div>
     </div>
    </div>
    <div class="modal-footer">
     <button type="button" class="btn btn-secondary"
      data-bs-dismiss="modal">Close</button>
     <button type="submit" class="btn btn-primary"
      id="createSubmitButton" th:text="#{button.saveChange}">Save
      changes</button>
    </div>
   </form>
  </div>
 </div>

 <div class="container">
  <div class="col">
   <div class="row">
    <p th:text="${timetableModel.datestamp}">2023-04-25</p>
   </div>
   <div class="row">
    <table class="table">
     <thead>
      <tr>
       <th scope="col" style="width: 10%"
        th:text="#{thead.lesson-order}">Lesson order</th>
       <th scope="col" style="width: 8%" th:text="#{thead.start-time}">Start
        time</th>
       <th scope="col" style="width: 10%"
        th:text="#{thead.break-duration}">Break duration</th>
       <th scope="col" style="width: 15%" th:text="#{thead.description}">Description</th>
       <th scope="col" style="width: 10%" th:text="#{thead.group}">Group</th>
       <th scope="col" style="width: 10%" th:text="#{thead.lesson}">Lesson</th>
       <th scope="col" style="width: 5%"></th>
       <th scope="col" style="width: 5%"></th>
      </tr>
     </thead>
     <tbody>
      <tr 
       th:each="timetable, iterationStatus : ${#lists.sort(dayTimetable , new ua.com.foxminded.university.comparator.TimetableModelComparator())}"
       th:if="${timetable.id}">
       <td
        th:text="|${timetable.lessonOrder?.representation}#{tr.order-suffix}|">1</td>
       <td th:text="${timetable.startTime}">8:00</td>
       <td th:text="${timetable.breakDuration?.toMinutes()}">15</td>
       <td></td>
       <td th:text="${timetable.group?.name}">kr-85</td>
       <td th:text="${timetable.course?.name}">Programming</td>
       <td class="text-center">

        <button type="button" class="btn btn-outline-secondary btn-sm"
         data-bs-toggle="modal"
         th:data-bs-target="|#editTimetable${timetable.id}|">
         Edit</button>

        <form th:action="@{/timetables/update/__${timetable.id}__}"
         method="post" th:object="${timetableModel}" class="modal fade"
         th:id="|editTimetable${timetable.id}|" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
            <h1 class="modal-title fs-5"
             th:text="#{courses.editModelHeader}"></h1>
            <button type="button" class="btn-close"
             data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
            <div class="container-fluid">
             <div>
              <input type="hidden" th:field="*{datestamp}">
             </div>
             <div class="row mt-2 text-end">
              <div class="col-5" th:text="|#{thead.start-time}: |">Start
               time:</div>
              <div class="col-7">
               <select class="form-select" aria-label="Lesson selection"
                th:field="*{startTime}">
                <option
                 th:each="startTime : ${T(ua.com.foxminded.university.model.LessonStartTime).values()}"
                 th:value="${startTime.representation}"
                 th:text="${startTime.representation}">8:00</option>
               </select>
              </div>
             </div>
             <div class="row mt-2 text-end">
              <div class="col-5" th:text="|#{thead.break-duration}: |">Duration:</div>
              <div class="col-7">
               <select class="form-select" aria-label="Lesson selection"
                th:field="*{breakDuration}">
                <option
                 th:each="breakDuration : ${T(ua.com.foxminded.university.model.LessonBreakDuration).values()}"
                 th:value="${breakDuration.duration}"
                 th:text="${breakDuration.duration.toMinutes()}">15:00</option>
               </select>
              </div>
             </div>
             <div class="row mt-2 text-end">
              <div class="col-5" th:text="|#{thead.lesson}: |">Lesson:
              </div>
              <div class="col-7">
               <select class="form-select" aria-label="Lesson selection"
                th:field="*{course.id}">
                <option th:each="course : ${courses}"
                 th:value="${course.id}" th:text="${course.name}">Electrodynamics</option>
               </select>
              </div>
             </div>
             <div class="row mt-2 text-end">
              <div class="col-5" th:text="|#{thead.group}: |">Group:
              </div>
              <div class="col-7">
               <select class="form-select" aria-label="Group selection"
                th:field="*{group.id}">
                <option th:each="group : ${groups}"
                 th:value="${group.id}" th:text="${group.name}">lk-74</option>
               </select>
              </div>
             </div>
            </div>
           </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
             data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save
             changes</button>
           </div>
          </div>
         </div>
        </form>
       </td>
       <td class="text-start">
        <button type="button" class="btn btn-outline-danger btn-sm"
         th:text="#{button.delete}" data-bs-toggle="modal"
         id="deleteCourseButton"
         th:data-bs-target="|#delete${timetable.id}|">Delete</button>

        <form class="modal fade" method="post"
         th:id="|delete${timetable.id}|"
         th:action="@{/timetables/delete/__${timetable.id}__}"
         th:object="${timetableModel}" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
            <h1 class="modal-title fs-5" id="sataticBackdropLabel"></h1>
            <button type="button" class="btn-close"
             data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
            <div class="container-fluid">
             <div>
              <input type="hidden" th:field="*{datestamp}">
             </div>
             <div th:text="#{timetables.delete-timetable}">The
              timetable will be deleted</div>
            </div>
           </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
             data-bs-dismiss="modal" th:text="#{button.close}">Close</button>
            <button type="submit" class="btn btn-primary"
             id="confirmDeletingButton" th:text="#{button.confirm}">Confirm
             deleting</button>
           </div>
          </div>
         </div>
        </form>
       </td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 </div>

 <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
  crossorigin="anonymous"></script>
</body>
</html>