<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>students</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/generic.css" th:href="@{/css/generic.css}" />
</head>
<body>
	<div th:replace="~{index::logo}"></div>
	<br>
	<h2 th:text="#{students.tableName}">All students of the university</h2>
	<table>
		<thead>
			<tr>
				<td th:text="#{thead.number}">Number</td>
				<td th:text="#{thead.firstName}">First name</td>
				<td th:text="#{thead.lastName}">Last name</td>
				<td th:text="#{thead.id}">ID</td>
				<td th:text="#{thead.groupId}">Group ID</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student,iterationStatus : ${students}">
				<td th:text="${iterationStatus.count}">1</td>
				<td th:text="${student.firstName}">John</td>
				<td th:text="${student.lastName}">Snow</td>
				<td th:text="${student.id}">1</td>
				<td th:text="${student.group.id}">5</td>
			</tr>
		</tbody>
	</table>
</body>
</html>