<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The list of users</title>
<link
 href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
 rel="stylesheet"
 integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
 crossorigin="anonymous">
</head>
<body>
 <div th:replace="~{fragments/header::navigationBar}"></div>

 <form class="modal fade" id="add" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true"
  th:action="@{/users/authorize}" method="post" th:object=${userModel}>
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <h1 class="modal-title fs-5" id="staticBackdropLabel"
      th:text="#{users.addTitle}">Authorize a user</h1>
     <button type="button" class="btn-close" data-bs-dismiss="modal"
      aria-label="Close"></button>
    </div>
    <div class="modal-body">
     <div class="container-fluid">
      <div class="row">
       <div class="col-6" th:text="|#{thead.email}: |">Email:</div>
       <div class="col-6">
        <input class="form-control" list="datalistOptions" name="email"
         id="exampleDataList" th:placeholder="#{users.emailPlaceholder}">
        <datalist id="datalistOptions">
         <option th:each="user : ${notAuthorizedUsers}"
          th:value="${user.email}">
        </datalist>
       </div>
      </div>
      <div class="row mt-2">
       <div class="col-6" th:text="|#{users.authority}: |">Authority</div>
       <div class="col-6">
        <select th:field="*{userAuthority.authority}"
         class="form-select" id="floatingSelect"
         aria-label="Defalt select example">
         <option
          th:each="authority : ${T(ua.com.foxminded.university.model.Authority).values()}"
          th:value="${authority}" th:text="${authority.representation}">Admin</option>
        </select>
       </div>
      </div>
      <div class="row mt-2">
       <div class="col-6" th:text="|#{thead.active}: |">Active
        status :</div>
       <div class="col">
        <select th:field="*{enabled}" class="form-select"
         id="floatingSelect" aria-label="Default select example">
         <option th:value='true' th:text="#{users.enableStatus}"></option>
         <option th:value='false' th:text="#{users.disableStatus}"></option>
        </select>
       </div>
      </div>
      <div class="row mt-2">
       <div class="col-6" th:text="|#{thead.password}: |">Password:
       </div>
       <div class="col-6">
        <input type="password" class="form-control" id="floatingInput"
         name="password" />
       </div>
      </div>
      <div class="row mt-2">
       <div class="col-6" th:text="|#{users.confirmPassword}: |">Confirm
        password:</div>
       <div class="col-6">
        <input type="password" class="form-control" id="floatingInput"
         name="passwordConfirm" />
       </div>
      </div>
     </div>
    </div>
    <div class="modal-footer">
     <button type="button" class="btn btn-secondary"
      data-bs-dismiss="modal">Close</button>
     <button type="submit" class="btn btn-primary"
      th:text="#{users.authorize}">Authorize</button>
    </div>
   </div>
  </div>
 </form>

 <div class="container">
  <div class="row">
   <p class="text-center fs-1 mt-5" th:text="#{users.tableName}">All
    users of the university</p>
  </div>
  <div class="row justify-content-center">
   <div class="col-10">
    <table class="table">
     <thead>
      <tr>
       <th scope="col" th:text="#{thead.number}">#</th>
       <th scope="col" th:text="#{thead.firstName}">First name</th>
       <th scope="col" th:text="#{thead.lastName}">Last name</th>
       <th scope="col" th:text="#{thead.email}">Email</th>
       <th scope="col" th:text="#{thead.authority}">Authority</th>
       <th scope="col" th:text="#{thead.active}">Enabled</th>
       <th></th>
       <th></th>
      </tr>
     </thead>
     <tbody>
      <tr th:each="user,iterationStatus : ${allUsers}">
       <th scope="row" th:text="${iterationStatus.count}">1</th>
       <td th:text="${user.firstName}">Linus</td>
       <td th:text="${user.lastName}">Torvalds</td>
       <td th:text="${user.email}">email@com</td>
       <td
        th:text="${user.userAuthority != null} ? ${user.userAuthority.authority.representation} : '---'">
        Administrator</td>
       <td
        th:text="${user.enabled} ? #{users.enableStatus} : #{users.disableStatus}">true</td>
       <td>

        <button type="button" class="btn btn-success btn-sm"
         th:text="#{button.edit}" data-bs-toggle="modal"
         th:data-bs-target="|#edit${iterationStatus.index}|">Edit</button>

        <form class="modal fade" th:id="|edit${iterationStatus.index}|"
         th:action="@{/users/edit}" method="post"
         th:object="${userModel}" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel"
             th:text="#{users.editUser}">Edit the user</h1>
            <button type="button" class="btn-close"
             data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
            <div class="container-fluid">
             <div class="row text-start mt-2">
              <div class="col-3" th:text="|#{thead.firstName}: |">Fist
               name:</div>
              <div class="col-4" th:text="${user.firstName}">Boris</div>
             </div>
             <div class="row text-start mt-2">
              <div class="col-3" th:text="|#{thead.lastName}: |">Last
               name:</div>
              <div class="col-4" th:text="${user.lastName}">Jhonsonyuck</div>
             </div>
             <div class="row text-start mt-2">
              
              <div class="col-3" th:text="|#{thead.email}: |">Email:</div>
              <div class="col-4" th:text="${user.email}">email@com</div>
              <div class="col-5"> 
               <input class="form-control" type="email" th:field="*{email}">
              </div>
             </div>
             <div class="row text-start mt-2">
              <div class="col-3" th:text="|#{users.authority}: |">Authority</div>
              <div class="col-4"
               th:text="${user.userAuthority != null} ? ${user.userAuthority.authority.representation} : '---'">Admin</div>
              <div class="col-5">
               <select th:field="*{userAuthority.authority}"
                class="form-select" id="floatingSelect"
                aria-label="Defalt select example">
                <option
                 th:each="authority : ${T(ua.com.foxminded.university.model.Authority).values()}"
                 th:value="${authority}"
                 th:text="${authority.representation}">Admin</option>
               </select>
              </div>
             </div>
             <div class="row text-start mt-2">
              <div class="col-3" th:text="|#{thead.active}: |">
               Active status:</div>
              <div class="col-4"
               th:text="${user.enabled} ? #{users.enableStatus} : #{users.disableStatus}">Enabled</div>
              <div class="col-5">
               <select th:field="*{enabled}" class="form-select"
                id="floatingSelect" aria-label="Default select example">
                <option th:value='true' th:text="#{select.enable}"></option>
                <option th:value='false' th:text="#{select.disable}"></option>
               </select>
              </div>
             </div>
            </div>
           </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
             data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" name="userEmail" th:value="${user.email}"
             th:text="#{button.saveChange}">Save the change</button>
           </div>
          </div>
         </div>
        </form>

       </td>
       <td>
        <button type="button" class="btn btn-success btn-sm"
         th:text="#{button.delete}" data-bs-toggle="modal"
         th:data-bs-target="|#delete${iterationStatus.index}|">Delete</button>

        <form class="modal fade"
         th:id="|delete${iterationStatus.index}|"
         th:action="@{/users/delete}" method="post"
         data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
         <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel"
             th:text="#{users.deleteUser}">Delete the user</h1>
            <button type="button" class="btn-close"
             data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body" th:action="@{/users/delete}"
            th:object="${userModel}">
            <div class="container-fluid">
             <div class="row text-start">
              <div class="col-3" th:text="|#{users.userId}: |">User
               ID:</div>
              <div class="col-4" th:text="${user.email}">5</div>
              <div class="col-5">
              </div>
             </div>
             <div class="row text-start mt-2">
              <div class="col-3" th:text="|#{thead.email}: |">Email:
              </div>
              <div class="col-9" th:text="${user.email}"></div>
             </div>
             <div class="row text-start mt-2">
              <div class="col-3" th:text="|#{users.authority}: |">Authority</div>
              <div class="col-9"
               th:text="${user.userAuthority != null} ? ${user.userAuthority.authority.representation} : '---'"></div>
             </div>
             <div class="row text-start mt-2">
              <div class="col-3" th:text="|#{thead.active}: |">
               Active status:</div>
              <div class="col-9"
               th:text="${user.enabled} ? #{users.enableStatus} : #{users.disableStatus}">Enabled</div>
             </div>
            </div>
           </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
             data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary"
             th:text="#{button.delete}">Delete</button>
           </div>
          </div>
         </div>
        </form>

       </td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 </div>

 <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"></script>
</body>
</html>